/* Habilita rolagem suave em toda a página */
html {
    scroll-behavior: smooth;
  }
  
  /* Define o posicionamento absoluto do background */
#background {
    position: fixed;
    top: 0;
    left: 0; 
    z-index: -1; /* Define o z-index para posicionar o background atrás dos outros elementos */
}
  
/* Define o posicionamento, tamanho e layout do container */
#container-filme-sinopse {
    display: block;
    margin-block-start: 10%;
    margin-inline-start: 2%;
}

  /* Define a largura da imagem da sinopse */
.filme-sinopse {
    max-width: 35%; /* Permite que a imagem se ajuste ao tamanho da tela */
    height: auto;  /* Mantém a proporção da imagem */  
}
 
section{
    display: flex; /* Transforma a seção em um flex container */
  justify-content: left; /* Centraliza os itens horizontalmente */
  margin-inline-start: 36px;
  height: 34px;
  gap: 14px;
}

.botao-assistir {
    
    background-color: #fbfbfb; /* Cor de fundo branca (Netflix) */
    border: none; /* Remove a borda padrão */
    width: 125px; /* Largura fixa */
    cursor: pointer; /* Cursor de clique */
    font-size: 14px; /* Tamanho da fonte */
    transition: background-color 0.3s ease-in-out; /* Transição suave ao passar o mouse */
    color: rgb(0, 0, 0); /* Cor do texto */
    
}

.botao-assistir:hover {
    background-color: #ffffffd7; /* Muda para vermelho mais escuro ao passar o mouse */
}

/* ---------- Estilos para o botão "Mais informações" ---------- */
.botao-infos {
    
    background-color: #00000090; /* Cor de fundo cinza (Netflix) */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    width: 225px; /* Largura fixa */
    cursor: pointer; /* Cursor de clique */
    font-size: 13px; /* Tamanho da fonte */
    transition: background-color 0.3s ease-in-out; /* Transição suave ao passar o mouse */
    }

.botao-infos:hover {
    background-color: #000000d1; /* Muda para vermelho mais escuro ao passar o mouse */
}
